// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700, 300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #57d895;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btnControl {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #57d895;
  width: 220px;
  height: 50px;
  border: 2px solid white;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
}

@keyframes buttonHover {
  from {
    // background: #57bf95;
  }
  to {
    background: #57b295;
  }
}
.btn:hover {
  animation: buttonHover 0.3s linear forwards;
}

@keyframes clickButton {
  0% {
  }
  15% {
    width: 50px;
    color: transparent;
    border: 2px solid grey;
  }
  30% {
    box-shadow: 60px -60px 0 2px #57d895, -60px -60px 0 2px #57d895,
      -60px 60px 0 2px #57d895, 60px 60px 0 2px #57d895, 0 0 0 2px #fff;
  }

  45% {
  }

  60% {
  }
  100% {
    width: 50px;
    color: transparent;
    border: 2px solid grey;
  }
}

#btnControl:checked + label {
  animation: clickButton 2s linear forwards;
}
